[submodule "libheateq/benchmark/google_benchmark"]
	path = libheateq/benchmark/google_benchmark
	url = https://github.com/google/benchmark.git
[submodule "libheateq/tests/google_test"]
	path = libheateq/tests/google_test
	url = https://github.com/google/googletest.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
